<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" href="/site-icon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/site-icon.ico" />
  <link href="AAABAAEAEBAAAAEAIABoBAAAFgAAACgAAAAQAAAAIAAAAAEAIAAAAAAAAAQAABILAAASCwAAAAAA
AAAAAABCPUkAQj1JAEI9SQBCPUkAAAAA/wAAAP8AAAD/AAAA/0I9SQBCPUkAQj1JAEI9SQBCPUkA
Qj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAAAAA/wAAAP8AAAD/AAAA/wAAAP8AAAD/Qj1JAEI9SQBC
PUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAAAAAP8AAAD/AAAA/wAAAP8AAAD/AAAA/0I9
SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQAAAAD/AAAA/wAAAP8AAAD/AAAA
/wAAAP9CPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAAAAAP8AAAD/
AAAA/wAAAP8AAAD/Qj1JAEI9SQAAAAD/AAAA/0I9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBC
PUkAQj1JAEI9SQBCPUkAAAAA/0I9SQBCPUkAQj1JAAAAAP8AAAD/Qj1JAEI9SQBCPUkAQj1JAEI9
SQBCPUkAQj1JAEI9SQBCPUkAQj1JAAAAAP9CPUkAQj1JAEI9SQAAAAD/AAAA/0I9SQBCPUkAQj1J
AEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQAAAAD/Qj1JAEI9SQBCPUkAAAAA/wAAAP9CPUkA
Qj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAAAAA/0I9SQBCPUkAQj1JAAAAAP8A
AAD/Qj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAAAAAP9CPUkAQj1JAEI9
SQAAAAD/AAAA/0I9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQAAAAD/Qj1J
AEI9SQBCPUkAAAAA/wAAAP9CPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkA
AAAA/0I9SQBCPUkAAAAA/wAAAP8AAAD/Qj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBC
PUkAQj1JAAAAAP8AAAD/AAAA/wAAAP8AAAD/Qj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9
SQBCPUkAQj1JAEI9SQAAAAD/AAAA/wAAAP9CPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1J
AEI9SQBCPUkAQj1JAEI9SQBCPUkAAAAA/0I9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkA
Qj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBCPUkAQj1JAEI9SQBC
PUkA8P8AAOB/AADgfwAA4H8AAPBnAAD/cwAA/3MAAP9zAAD/cwAA/3MAAP9zAAD/YwAA/wcAAP8f
AAD/fwAA//8AAA==" rel="icon" type="image/x-icon">
</head>
